html, body {
    padding: 0;
    margin: 0;
}

body {
    font: 20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #EAE6E6;
    background: #333333;
}

body.orange {
    --color: rgb(255, 146, 0);
    --color-transparent: rgba(255, 146, 0, 0);
    --color-selected: rgb(197, 157, 103);
}

body.pink {
    --color: rgb(240, 74, 252);
    --color-transparent: rgba(240, 74, 252, 0);
    --color-selected: rgb(168, 128, 192);
}

body.green {
    --color: rgb(32, 165, 0);
    --color-transparent: rgba(32, 164, 0, 0);
    --color-selected: rgb(135, 230, 128);
}

body.purple {
    --color: rgb(124, 58, 181);
    --color-transparent: rgba(124, 58, 181, 0);
    --color-selected: rgb(122, 98, 144);
}

input, select {
    background: white;
    color: black;
    border: 1px solid #707070;
    font-size: 20px;
    padding: 5px;
    vertical-align: top;
}

label {
    line-height: calc(1em + 12px);
}

.block{
    display: inline-block;
}

.exportForm {
    width: 25%;
    display: inline;
    float: left;
}
