body{
    margin: auto;
}

.content {
    max-width: 80%;
    margin: auto;
}

#addRestaurant {
    width: 100%;
}

#mytextarea {
    size: 1000px;
    margin: auto;
    height: 600px;
    max-width: 80%;
}

#saveBtn {
    height: 40px;
    font-size: 20px;
}

fieldset {
    border: none;
}

img {
    height: 200px;
    width: 200px;
}


