.icon {
    display: block;
    width: 32px;
    height: 32px;
}

.icon.instagram {
    background-image: url("instagram-brands.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon.facebook {
    background-image: url("facebook-square-brands.svg");
    background-repeat: no-repeat;
    background-position: center;
}