.content {
    max-width: 1200px;
    margin: auto;
    height: 520px;
}

table {
    border-spacing: 0;
    margin-left: -1px;
    margin-bottom: 15px;
    margin-top: 15px;
}

table input {
    border: none;
    height: 100%;
}

input, select, table {
    width: 100%;
}

#allowAccessForm {
    margin-left: -10px;

    width: 40%;
    display: inline-block;
}

#allowAccessForm input{
    float: left;
    margin: 10px;
}

#submit{
    width: 30%;
}

#emailInput{
    width: 60%;
}

table td, table tr, table th {
    border: 1px solid white;
}

table td{
    padding-left: 15px;
    padding-right: 15px;
}

table th{
    padding: 15px;
}

table tr{
    margin: 10px;
}

table td:last-child {
    padding: 0;
}

.tableButton{
    height: 100%;
    margin: 0;
}